:root {
  --primary-0: #fff;
  --primary-100: #bbb;
  --primary-500: #b4bbc0;
  --primary-600: #6c6f72;
  --primary-900: #000;
  --active-primary-900: #000;
  --active-primary-100: #fff;
  --hover-primary-900: #343434;
  --disabled-primary-100: #bbb;
  --active-secondary-900: #fff;
  --active-secondary-100: #000;
  --hover-secondary-500: #b4bbc0;
  --disabled-secondary-200: #eceeef;
  --disabled-secondary-100: #bbb;
}
